<center>
    <div class="signup-container">
        <form class="signup-form" action="/signUp" method="POST">
            <h1>Sign Up</h1>
            <div class="input-container">
                <label for="email">OTP</label>
                <input  id="email" name="email" required>
            </div>
            <button type="submit" id="email-form-bitton">Send OTP</button>
        </form>
    </div>
    </center>