<center>
<div class="signup-container">
    <form id="signup-form" method="post">
        <h1>Sign Up</h1>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit" id="email-form-bitton">Send OTP</button>
    </form>
</div>
</center>
